.profile-user-img {
    border: 3px solid #DB261D;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}
.page-item.active .page-link {
z-index: 3;
color: #fff;
background-color: #DB261D;
border-color: #DB261D;
}
[class*=sidebar-dark-] .sidebar a {
    color: #fff;
}
.brand-link .brand-image {
margin-top: -8px;
max-height: 50px;
width: auto;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
background-color: #fff;
color: #DB261D;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #fff;
    color: #000;
}

a {
    color: #DB261D;
    text-decoration: none;
    background-color: transparent;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #DB261D;
}

.btn-danger,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #DB261D;
}

.card-primary.card-outline {
    border-top: 3px solid #DB261D;
}

.navbar-expand .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #DB261D;
}
